button {
  background-color: deeppink;
  color: wheat;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;

  animation-name: move;
  animation-duration: 1s;
  animation-delay: 1s;
  /* animation-fill-mode: backwards;  */
  /* animation-fill-mode: forwards; */
  animation-fill-mode: both;
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  animation-direction: alternate-reverse;
  /* animation-iteration-count: 3; */
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  /* animation: move 1s 1s both infinite alternate ease; */
}

button:hover {
  animation-play-state: paused;
}

@keyframes move {
  /* from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300px);
  } */ 
  /* 25%, 50% {
    transform: translateY(300px);
  }
  30%, 60% {
    transform: translateY(0);
  } */
  0% {
    background-color: blue;
  }
  100% {
    transform: translateX(300px);
  }
}