:root {
  --bg-color: rebeccapurple;
  --text-color: white;
}
@media (min-width: 400px) and (max-width: 600px) {
  :root {
    --bg-color: orangered;
  }
}
@media (400px < width < 500px) {
  :root {
    --text-color: black;
  }
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}