body {
    background-color: aqua;
}
/* comentário */
/*
    Cada seletor tem um peso
    A soma dos pesos faz a declaração ser aplicada
    #id - 100
    .class - 10
    element - 1
    -> Mais pesos
    - style
    - !important

    -> Combinator
    - Descendente
        main p {}
    - List 
        span, mark
    - Next sibling
        h2 + p
    - Child
        aside > p
*/
#titulo {
    border: 2px solid black;
}
h1 {
    background-color: green;
    text-transform: uppercase;
    color: blue;
}
h1{
    background-color: pink;
}
p {
    /*
    font (shorthand)
    */
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

mark {
    color: brown;
    font-weight: 600;
}

a {
    text-decoration: line-through rgba(19, 0, 128, 0.521) wavy 4px;
}
