body {
  background-color: mediumpurple;
}
div {
  background-color: white;
  width: 4rem;
  height: 4rem;
  opacity: .6;
  /* transition-property: opacity, transform;
  transition: all;
  transition-duration: 200ms;
  transition-delay: 1s, 10ms;
  transition-timing-function: linear; ease-in / ease-out / ease-in-out / cubic-bezier(x1, y1, x2, y2) / steps(2) */
  transition: all 400ms .5s ease;
}
div:hover {
  opacity: 1;
  transform: translateX(20px);
}
@media (prefers-reduced-motion) {
  div {
    transition: none;
  }
}